@charset "UTF-8";

body {
  width: 1152px;
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  
}

@media screen and (max-width:767px){
  body {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}